<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Gift Listing
        </div>
        <div class="card-body">
          <div class="alert alert-success" *ngIf="isDeleteSuccessful">
            {{successDeleteMessage}}
          </div>
          <div class="alert alert-warning" *ngIf="isDeleteFailed">
            Delete gift failed!<br />{{ errorDeleteMessage }}
          </div>

          <div class="form-group row">
            <div class="col-md-12"><a routerLink="/special/add-gift" class="btn btn-sm btn-success mb-2">Add Gift</a></div>
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search by GiftName" [(ngModel)]="giftName" />
                <span class="input-group-prepend">
                    <button type="button" class="btn btn-primary" (click)="searchGiftName()"><i class="fa fa-search"></i> Search</button>
                </span>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th class="align-top">Id</th>
                <th class="align-top">Image</th>
                <th class="align-top">Title</th>
                <th class="align-top">Gift Name</th>
                <th class="align-top">Required Values</th>
                <th class="align-top">Required Points</th>
                <th class="align-top">Company</th>
                <th class="align-top">Create Date<br>Update Date</th>
                <th class="align-top">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let giftData of gifts | paginate : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
                  let i = index"
                  [class.active]="i == currentIndex"
                  (click)="setActiveGift(giftData, i)"
              >
                <td>{{ giftData.id }}</td>
                <td><img [src]= "getImage(giftData.image)" alt="" height="80px" /></td>
                <td>{{ giftData.title }}</td>
                <td>{{ giftData.giftName }}</td>
                <td>{{ giftData.requiredValues.toFixed(2)}}</td>
                <td>{{ giftData.requiredPoints}}</td>
                <td>{{ giftData.company !== null ? giftData.company['companyName'] : "" }}</td>
                <td>
                  {{ (giftData.createDate !== null) ? (giftData.createDate | date: 'yyyy-MM-dd HH:mm:ss') : '-'}}<br>
                  {{ (giftData.updateDate !== null) ? (giftData.updateDate | date: 'yyyy-MM-dd HH:mm:ss') : '-'}}
                </td>
                <td>
                  <a routerLink="/special/edit-gift/{{giftData.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                  <button (click)="deleteGift(giftData.id)" class="btn btn-sm btn-danger btn-delete-user">
                    <span>Delete</span>
                  </button>
                </td>
              </tr>
              <tr *ngIf="gifts.length === 0"><td colspan="8">No records found</td></tr>
            </tbody>
          </table>
          <pagination-controls class="page-item text-center"
                               previousLabel="Prev"
                               nextLabel="Next"
                               [responsive]="true"
                               (pageChange)="handlePageChange($event)"
                               screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page"
          ></pagination-controls>
          Items per Page:
          <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
