<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="alert alert-warning" *ngIf="f.submitted && isResetFailed">
                  Reset password failed!<br />{{ errorMessage }}
                </div>
                <h1>Reset Password</h1>
                <p class="text-muted">Kindly please key in your new pasword</p>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
                         name="password" [(ngModel)]="form.password" minlength="6" maxlength="40" #password="ngModel" required>
                </div>
                <div class="alert-danger mb-2" *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  <div *ngIf="password.errors.maxlength">Password must be at most 40 characters</div>
                </div>

                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password"
                         name="repeatPassword" [(ngModel)]="form.repeatPassword" minlength="6" maxlength="40" #repeatPassword="ngModel" required>
                </div>
                <div class="alert-danger mb-2" *ngIf="repeatPassword.errors && f.submitted">
                  <div *ngIf="repeatPassword.errors.required">Repeat Password is required</div>
                  <div *ngIf="repeatPassword.errors.minlength">Repeat Password must be at least 6 characters</div>
                  <div *ngIf="repeatPassword.errors.maxlength">Repeat Password must be at most 40 characters</div>
                  <div *ngIf="repeatPassword !== password">Repeat Password must be same with Password</div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-block btn-success">Submit</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" (click)="loginPage()">Cancel</button>
                  </div>
                </div>
              </form>

              <div class="alert alert-success" *ngIf="isSuccessful">
                {{ successMessage }}
                <button type="button" class="btn btn-link px-0" (click)="loginPage()">Back to Login Page</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
